body {
    margin: 0;
    font-family: 'Segoe UI';
    background: #f1f5f9;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #1e293b;
    color: white;
    position: fixed;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
}

.sidebar li.active {
    background: #2563eb;
    border-radius: 5px;
}

.main {
    margin-left: 240px;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.blue {
    background: #2563eb;
}

.red {
    background: #dc2626;
}

.section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form button {
    padding: 10px 15px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form button:hover {
    background: #1d4ed8;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.low {
    color: red;
    font-weight: bold;
}

button.action {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add { background: #16a34a; color: white; }
.remove { background: #f97316; color: white; }
.delete { background: #dc2626; color: white; }
